@import "tailwindcss";
#tasklist::-webkit-scrollbar{
    display: none;
}
#Alltask::-webkit-scrollbar{
    display: none;
}
#alltaskbox::-webkit-scrollbar{
    display: none;
}
#createtask-button{ cursor: pointer;
    transition: all 0.5s;

}
#createtask-button:hover{
    background-color: rgb(37, 37, 37);
}
#login-button-button{
    cursor: pointer;
    transition: all 0.5s;


}
#login-button:hover{
    background-color: rgb(180, 84, 4);
}
#Logout-button{
    cursor: pointer;
    transition: all 0.5s;

}
#Logout-button:hover{
    background-color: rgb(247, 165, 165);
}